
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 25%;
  background: linear-gradient(#b3b3b3, #000000);
}

.navbar-container {
  display: flex;
}

.navbar {
  font-family: Ubuntu Mono, serif;
  max-width: 1560px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

ul {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

ul li a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

ul li a:active {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.jumping-letters {
  animation: jump 1s infinite;
  transition: all 0.3s ease-in-out; 
}

@keyframes jump {
  50% {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }
}

.solo2 {
  color: #fff;
}


hgroup {
font-family: "DynaPuff", cursive;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
place-items: center;
text-align: center;
width: 100%;
height: 100vh;
}

.text {
  flex: auto;
  color: white;
  white-space: nowarp;
  font-size: 5vw;
  font-size: 1em;
  z-index: 5;

}

.body-container {
  font-family: Ubuntu Mono, serif;
  align-items: center;
  display: flex;
  background-color: #faf5f5;
  box-sizing: border-box;
  max-width: 65vw;
  min-width: 38%;
  border-radius: 13px;
  margin: 0px auto;
  padding: 40px; /* Increased padding to move content away from the walls */
  width: 100%;
  margin-bottom: 30px;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items to the center vertically */
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.description {
  flex: 3;
  padding-right: 0; /* Increased padding to move skills further from the description */
  line-height: 1.8;
}

.skills {
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  gap: 10px;
}

.skills ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  gap: 10px;
}

.skills li {
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
}

.skills li::before {
  content: '•'; 
  position: absolute;
  left: 0;
  font-size: 1em; 
  line-height: 1; 
  color: #333; /* Bullet color */
}

.projects {
  position: relative;
  color: #000000;
}

.education {
  position: relative;
  color: #000000;
}

.education-container {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
}

.school-name {
  font-size: 2em;  
  margin-top: 20px; 
  margin-bottom: 10px; 
}

.arizona {
  color: maroon;  /* Maroon color for Arizona */
}

.state {
  color: gold;  /* Gold color for State */
}

.university {
  color: maroon;  /* Maroon color for University */
}

.column2 h4, 
.column2 p {
  margin-top: 15px;  
  margin-bottom: 15px; 
}

/* Bullet Points for Organizations */

.education-organizations {
  margin-left: 30px;  /* Indentation for the bullet points */
}

.education-organizations li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.education-organizations li::before {
  content: '•'; 
  position: absolute;
  left: 0;
  font-size: 1em; 
  line-height: 1; 
  color: #333; 
}

.desc {
  align-items: right;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  word-spacing: 2px;
}

.topics {
  font-size: xx-large;
  margin-bottom: 20px;
  align-items: center;
}

.sec {
  padding-bottom: 50px;
  border-radius: 6px;
}

#mustafaSaid {
  font-family: "DynaPuff", cursive;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  margin: 10px;
}

#mypdf {
  width: 85%;
  height: fit-content;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer {
  padding: 25px; /* 20px padding to the top and bottom, 0 padding to the sides */ /* optional, to give it a background color */
}
